.blue {
    border-bottom: 2px solid #a8ffac;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efdefd;
}

.testSpanError {
    color: #a8ffac;
}