.greeting {
background-color: #bafff1;
    height: 50px;
}

.errorInput {
    border: 2px solid red;
}
.errorMessage {
    color: red;
}

.button {
 margin: 0px 20px 0px 15px;
    background-color: #89a7dc;
    border-radius: 5px;
}

.bodyContainer {
    margin: 5px 0px 0px 15px;
}
